@model Eshop.Entities.Category

@{
    ViewBag.Title = "Edit";
}

    <h2>Edit Category</h2>

    <form method="post">
        @*<input name="ID" value="@Model.ID"  />*@
        <label>Name</label>
        <input name="Name" value="@Model.Name" />
        <br /><br />
        <label>Description</label>
        <input name="Description" value="@Model.Description" />
        <br />

        <button type="submit">Save</button>
    </form>


