
@{
    ViewBag.Title = "Index";
}

<div id="tableContainer">
    @{
        //Html.RenderAction("Create");
        Html.RenderAction("ProductTable");
    }
</div>
<div id="actionContainer">

</div>

