@model List<Product>

@{
    ViewBag.Title = "ProductTable";
}

<h2>Product List</h2>
<div>
    <form method="post">
        <input type="text" id="serchText" name="Search" />
        <button id="searchBtn" type="button">Search</button>
    </form>
    <button id="newBtn" type="button">New</button>
</div>

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button data-id="@product.ID" class="editBtn">Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>




<script>
    $("#searchBtn").click(function () {
        let searchValue = $("#serchText").val()

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search : searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            })
    })
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            })
    })
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            })
    })
</script>

